.gitter-open-chat-button {                                                                                                                                                  
    right: 20px;                                                                                                                              
    padding: 10px;                                                                        
    background-color: #777;                                                                                          
}                                                                                                                                                                                     
@media (max-width: 600px) {                                                                                                                                                  
  .gitter-open-chat-button,                                                                                             
  .gitter-chat-embed {                                                                    
      display: none;                                                                    
  }                                                                                       
}