// Custom styles.
.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #FF1700;
    background-color: #F9F9F9;
    list-style: none;
}


.gitter-open-chat-button {                                                                                                                                                                    
      right: 20px;                                                                                                                                                                            
      padding: 10px;                                                                                                                                                                          
      background-color: #777;                                                                                                                                                                 
}                                                                                                                                                                                             

@media (max-width: 600px) {                                                                                                                                                                   
    .gitter-open-chat-button,                                                                                                                                                                 
    .gitter-chat-embed {                                                                                                                                                                      
        display: none;                                                                                                                                                                        
    }                                                                                                                                                                                         
}